@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500&family=Nunito:wght@300;400&display=swap');

body {
  margin: 0;
  background: #0E085E;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

*, ::after, ::before {
  box-sizing: border-box;
}
